<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Paintings Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"></th:block>
   </head>
   <body>
      
      <th:block th:include="/_menu"></th:block>
       
      <section id="spring1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>

  <div class="carousel-inner">
    

     
    <div class="carousel-item active">
      <video loop="" autoplay="true" playsinline="" src="https://res.cloudinary.com/dem3s1a4v/video/upload/v1705989802/yoigudomgqvmtns9ene8.mp4" style=" width: 100%;" ></video>
      
      <div class="carousel-caption d-none d-md-block">
    <h1 style="font-size: 50px; font-weight: 900; margin-bottom: 140px; margin-right: 600px; color: rgb(255, 255, 255);">ART PICTURE <br>
<p style="font-size: 1rem; color: rgb(255, 255, 255);">WELCOME TO WEBSITE.<br> Hello, ARTIST.</p>
 <a href="/productList"  style="clear:both; background: #000; border: none; color: #fff; font-size: 1em; padding: 10px; cursor: pointer; font-size: 17px;" />SHOP NOW <span class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>
    </h1>
    
  </div>
    </div>
   
  </div>
  
</div>
</section>
<br>

<!-- ------------------------------section end---------------------------------- -->
  
      <!-- ------------------------------section end---------------------------------- -->
      <section id="product_sec">
         <div class="row">
           <div class="col-lg-3">
             <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705991076/tsqjg27sbktzyejeqf2r.jpg">
             
           </div>

           <div class="col-lg-3">
             <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705991076/gltegj5jmxss570epapq.jpg">
           </div>

           <div class="col-lg-3">
             <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705991074/fbmb5wapkoxw50bfvu5v.jpg">
           </div>

           <div class="col-lg-3">
             <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705991072/grpq2qkp83rkrtsffzsu.jpg">
           </div>
         </div>
      </section>


<!-- ------------------------------carousel end---------------------------------- -->
<!-- {{-- ======================= start of addias 2 ==================== --}} -->
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705991044/ne8gmyiwjuxe4xznutep.jpg" width="700px" height="500px" style="margin-left: 50px">
              <div class="container">
          <div class="carousel-caption">
            <h2>PAINTING YOUR WAY</h2>
            <p>Designed for those who reimagine art.</p>
            <p><a class="btn btn-lg btn-dark" href="/productList" role="button">SHOP NOW <i class="fa fa-arrow-right"></i></a></p>
          </div>
        </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
            <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705996637/samples/fxomezdzkm4elb7b5yw3.jpg" width="700px" height="500px">
              <div class="container">
          <div class="carousel-caption">
            <h2>PAINT IT ONLINE</h2>
            <p>Shop for exquisite art online to elevate your space effortlessly.</p>
            
            <p><a class="btn btn-lg btn-dark" href="/productList" role="button">SHOP NOW <i class="fa fa-arrow-right"></i></a></p>
          </div>
        </div>
        </div>
    </div>


    <br><br>
    <!-- {{-- ======================= end of addias 2 ==================== --}} -->




<!-- ------------------------------Offer end---------------------------------- -->
<section id="about">
  <div class="section-content">
    <div class="container">

      <div class="col-md-6">
        <div class="about-text">
          <h3>About me</h3>
          <p class="lead">PQ Art Gallery specializes in artistic services, offering personalized drawings and
          decorations for a variety of spaces, including hotels, homes, restaurants, bars, and 
          cafes. Additionally, we organize events, providing calligraphy services for festive
          occasions and the start of the new year. Unleash creativity with PQ Art Gallery to create
          unique and sophisticated atmospheres for every occasion.
        </p>

        <h5>Follow me</h5>
        <a href="https://www.facebook.com/pqartgallery" class="btn btn-sm btn-outline-light">Facebook</a>
        <a href="https://www.tiktok.com/@pq.art.gallery" class="btn btn-sm btn-outline-light">TikTok</a>
        <a href="https://www.instagram.com/pq.art.gallery" class="btn btn-sm btn-outline-light">Instagram</a>
        <a href="https://shopee.vn/rose.n.pocari" class="btn btn-sm btn-outline-light">Shopee</a>

        </div>
      </div> 
    </div>
  </div>
</section>

<!-- ------------------------------About end---------------------------------- -->
<section id="restaurants_bars">
  <div class="section-content">
    <div class="container">
      <h2 class="h2_offer">ART & PAINTING</h2>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div class="card-columns">
  <div class="card">
    <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705991502/v6jxxfvx6629sjzujipg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">

    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705992543/ofvwdix88dhloeomtg9q.jpg" class="card-img-top" alt="...">
    <div class="card-body">	
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card text-white text-center p-3" style="background: #000;">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card text-center">
    <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705992542/fttyijbec3nolbvejidh.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705992540/cqm7djsgcntguatgsorp.jpg" class="card-img-top" alt="...">
  </div>

  <div class="card p-3 text-right text-white" style="background: #000;">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card">
    <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1705992540/ltubumr4cj8erjpj78mt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<footer id="footer-sub">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
          <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1706600212/qgsytiu9pd0f9vwzfueb.jpg">

          <img src="">

          <img src="">


       </div>
       <div class="col-sm-4">


       </div>
    </div>
  </div>
</footer>

<!-- ------------------------------footer sub end---------------------------------- -->

  <footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1706600557/hnxrpwzg7b3r7jfvgjke.png"><br>

            <h6 class="mt-3">PQ ART GALLERY</h6>
            <p>
              
              695 Ngô Quyền, Sơn Trà, Đà Nẵng<br>
              +84 777564956
            </p>
        </div>
        <div class="col-sm-3">
          
        </div>
        <div class="col-sm-3">
          <a href="">About Us</a>
          <a href="">PAINTING Brands</a>
          <a href="">News</a>
          <a href="">Awards</a>
          <a href="">Gallery</a>
          <a href="">Sitemap</a>
        </div>
        <div class="col-sm-3">
          <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a>

          <br><br>
          <a href="">Business Inquiry</a>
          <br>
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <img src="https://res.cloudinary.com/dem3s1a4v/image/upload/v1706602514/k9wtzdvoo1t0jsg6j7cr.png">
          <img src="">
          <img src="">
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="" style="margin-left: 1rem">Privacy Policy | PQ ART GALLERY Rewards Terms of Use</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>